body{
    text-align: center;
    font-family: 'Monoton', cursive;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#slider{
    width: 33%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 25px;
    border: 5px solid black;
}

#colorPicker{
    border: 5px solid black;
}